*.exg
*.zip
*.dat
*.gif
*.7z
*.exp
*.zip_origin
*.exe
script/texture_test/**
patch
__pycache__
output_csv
output_csv_maze
output_script
output_font
build
CMakeLists.txt.user
translation_files
generated
script/gt.png
script/graphic_title.exg.png
script/test_glyph.png
script/test_glyph2.png
script/img_title_part.png
backup_text
text_local
script/text
script/output_tablepack_debug
script/game_resource/*
!script/game_resource/README.md
Death Mark.exe.id0

