*.png
*.exg
*.zip
*.dat
*.gif
*.7z
*.exp
*.zip_origin
script/texture_test/**
patch
__pycache__
output_csv
output_csv_maze
output_script
output_font
src/app/shiin/build
src/app/shiin/CMakeLists.txt.user
src/app/shiin/title02.ivf